body {
	background-color: rgb(232, 232, 232);
	background-repeat: no-repeat;
	background-size: cover;
}  

#bridgelabz
{
	width:100%;
	height:40px;
	margin-left:45%;
	margin-top:12%;
} 
#makenote
{
	width:100%;
	height:40px;
	margin-left:39%;
}
	#centerdiv {
	width: 457PX;
	height: 400px;
	background-color: white;/* rgba(255, 255, 255,0.9); */
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 0px;
	padding-left: 0px;
   box-shadow: 10px 10px 5px #888888;
}

#todo {
	width: ;
    height: 40px;
    background-color:#043e62 ;
    padding-left: 44%;
    padding-top: 3%;
}

#logindiv {
	width: 320px;
	height: 100px;
	padding-left:90px;
	padding-top: 35px;
}
#signupdiv {
	width: 477px;
	height: 100px;
	padding-left:5px;
	padding-left: 11px;
    margin-top: -40px;
}
.lbutton {
    background-color: #076cab ;
    border: none;
    color: white;
    padding: 7px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px 2px;
    cursor: pointer;
    margin-left: -0.5px;
}
.lsignupbutton {
   background-color: #076cab;
    border: none;
    color: white;
    padding: 7px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px 2px;
    cursor: pointer;
      margin-left: 33%; 
	    margin-bottom: 46px;
    margin-top:33px;
} 
#email
{
	width:170px;
	height:30px;
}
#password
{
	width:170px;
	height:30px;
}
 #logindiv1
{
	    margin-top: 16%;
    margin-left: 20%; 
} 
	
	#loginbutton
	{
	margin-left:20%;
	}
	#main
	{
	padding-left:0%;
	}
	#img {
    border: 0;
    width: 160px;
}