<div style=" width:100%; margin-left:0; height:30%" data-ng-controller="HomeController as hc">
 <div style="height: 30% ; padding-top: 2%;padding-left: 12%"  ><font size="5px">Edit Lables</font>
 </div>
  <div>
   
      <input type="text"  name="labels" placeholder="enter lable Name" data-ng-model="label.labels" style="width: 80%;height: 30%;margin-left: 56px;background: transparent; border: 0; border-bottom: 1px solid silver  ;">
     <input type="submit" class="donebutton" id="reg" value=" done"  data-ng-click="hc.addLabel()" style="margin-left: 70%;"> <!-- "hc.addLabel()" -->
 
  </div>
</div>