
						<div class="cardRow">
							<div class="card" id="cardId" data-ng-if="todo.pinup" data-ng-repeat="todo in toDoList" data-ng-mouseover="icons=true" data-ng-mouseleave="icons=false" style="background-color: {{todo.color}};">
						
								<div  data-ng-click="hc.popUp(todo, $index)" >
									<div id="toDoTitle">
										 <span data-toggle="tooltip" title="rightmark">
										   <img uib-dropdown-toggle alt="color" src="images/check.png" data-ng-show="icons"  width="25px;" height="20px;"  style=" cursor: pointer;margin-top: -20px; margin-left: -25px">
										 
										  </span>
									
									<idv id="#toDoTitle"><font size="4px" face="verdana">{{todo.title}}</font></div>
									
									<div id="toDoNote"><font size="6px" >{{todo.note}}</font></div>
								</div>
							
								<div  id="icons" style="padding-left: 20px;padding-top:10px;">
								 
									<span data-ng-show="icons">
									
										<span uib-dropdown dropdown-append-to-body>
										 
											<span data-toggle="tooltip" title="Remind me">
												<img uib-dropdown-toggle alt="color" src="images/remaind.png" width="25px;" height="20px;"  style=" cursor: pointer;">
											</span>
											
												<div uib-dropdown-menu class="dropdown-menu" style="cursor: pointer; margin-left: 10px; width: 100px; top: 87%; padding: 5px; line-height: 2; margin-top: 10px;">
														
														<div>Reminder:</div>
																			
														<hr>
																													
														<div data-ng-click="hc.toToReminder(todo,$index,'Today')">
															<span>Later today</span>
															<span style="float: right; padding-right: 10px">08:00 PM</span>
														</div>
														
														
													    <div data-ng-click="hc.toToReminder(todo,$index,'Tomorrow')">
													        <span>Tomorrow</span><span style="float: right; padding-right: 10px">08:00 AM</span>
													    </div>
													
													    <div data-ng-click="hc.toToReminder(todo,$index,'Next-Week')">
													        <span>Next Week</span><span style="float: right; padding-right: 10px">08:00 AM</span>
													    </div>
													    
<!-- 													    <i id="drop" href>Pick Date and Time:</i>
 -->					                                       	<div class="dropdown" style="width: 50%; padding-top: 10px; padding-bottom: 10px">
					                                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
					                                                  <div class="input-group" style="margin-left:10px; width: 130px;">
					                                                    <input type="text" class="form-control" data-ng-model="remainder" name="remainder" placeholder="Pick date & time"/>
					                                                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					                                                      </div>
					                                                      <a ><span ng-click="hc.updateReminder(toDo,remainder)" >Save</span></a>
					                                              </a>
					
					                                              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					                                                 <datetimepicker data-ng-model="remainder" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
					                                              </ul>
					                                        </div>
													    
												</div>
										</span>
									
									
									<span uib-dropdown dropdown-append-to-body><img uib-dropdown-toggle alt="color" src="images/color.png" width="20px;" height="20px;" data-toggle="tooltip" title="Change color" style="margin-left: 20px; cursor: pointer;">
										
										<div  uib-dropdown-menu style="margin-top:-105px; margin-left: 23px">
											<div style="margin-left: 10px; padding-right: 10px;">
												<span>
													<img style=" cursor: pointer;" src="images/orange.png" width="32px" height="32px"	data-ng-click="hc.setColor(todo,'#ff7f00')">
													<img style=" cursor: pointer;"src="images/red.png" width="37px" height="37px"	data-ng-click="hc.setColor(todo,'#ff8a80')">
													<img style=" cursor: pointer;"src="images/yellow.png" width="30px" height="30px" data-ng-click="hc.setColor(todo,'#ffd180')">
													<img style=" cursor: pointer;"src="images/sky blue.png" width="37px" height="37px"	data-ng-click="hc.setColor(todo,'#80f8ff')">
												</span>
											</div>
											<div style="margin-left: 13px; padding-top: 10px;">
												<span>
													<img style=" cursor: pointer;" src="images/blue.png" width="30px" height="30px"	data-ng-click="hc.setColor(todo,'#3498db')">
													<img style=" cursor: pointer;"src="images/nice.png" width="37px" height="37px"	data-ng-click="hc.setColor(todo,'#ccff90')">
													<img style=" cursor: pointer;"src="images/green.png" width="30px" height="30px"	data-ng-click="hc.setColor(todo,'#4EC25E')">  <!-- '#2ecc71' -->
													<img style=" cursor: pointer;"src="images/gray.png" width="30px" height="30px"	data-ng-click="hc.setColor(todo,'#95a5a6')">
												</span>
											</div>
										</div>
										
									</span>
							
										<span uib-dropdown dropdown-append-to-body >
											<span uib-dropdown-toggle data-toggle="tooltip" title="More" style="margin-left: 15px;">
												<img alt="icon" src="images/more.png" width="30px" height="25px">
											</span>
										
											<div bgcolor="white">
												<ul uib-dropdown-menu class="dropdown-menu" style="cursor: pointer; margin-left: 2%; margin-top: 10px;">
													<li data-ng-click="hc.makeCopy(todo)"><a>copy</a></li>
													<li data-ng-click="tc.deleteNote(todo, $index)" data-ng-controller="TrashController as tc"><a>Delete Note</a></li>
											
												</ul>
											</div>
										
										</span>
										
									</span>
								</div>
								
								
								
								<div data-ng-if="todo.remainder" id="remainder" data-ng-mouseover="cancel=true" data-ng-mouseleave="cancel=false"><span>
									<span><img alt="icon" src="images/timeSpan.png" width="12px" height="12px"> {{todo.remainder|date:'MMM, dd yyyy  hh:mm a'}}</span>
									<span style="float: right;" data-ng-show="cancel"><img data-ng-click="hc.cancelRemainder(todo)" alt="icon" src="images/Cancel.png" width="20px" height="20px" data-toggle="tooltip" title="Delete remainder"></span>
								</div>
							</div>
						</div>
