<div style="margin-top:-10px;margin-left:-10px;margin-right:-10px" data-ng-controller="SignUpController as sc">
 <div class="row-sm-3">
  <div class="logo"></div> 
<div class="sbb">
		<font color="white">
				<b>
					<h1><center>ToDo</center></h1>
				</b>
		</font>
	</div>
	</div> 
 </div>
 
   <div class="col-sm-4"></div> 
  <div class="col-sm-4">
  <div class="saa">
 
 <pre>
 <form id="register"  method="post" >
 <font color="#043e62"><center><b><font size="4">Please Enter The Details</font></b></font>
 
 <font color="red">  <b><span class="error_form" id="Name_error_message"></span></b></font>
 <font color="#043e62"><font size="4"></font>    <input  type="text"  id="form_Name"  class="form_class"   data-ng-model="fullName"name="fullName" placeholder="enter name" style="background: transparent; border: 0; border-bottom: 1px solid  black; width: 350px;">

 <font color="red">  <b><span class="error_form" id="MobileNumber_error_message"></span></b></font>
  <font color="#043e62"><font size="4"></font>  <input  type="text"   id="form_MobileNumber" class="form_class" data-ng-model="mobileNumber" name="mobileNumber" placeholder="enter contact no" style="background: transparent; border: 0; border-bottom: 1px solid  black; width: 350px;"">

 <font color="red">  <b><span class="error_form" id="email_error_message"></span></b></font>
  <font color="#043e62"><font size="4"></font>  <input type="text"   id="form_email"  data-ng-model="email" name="email" placeholder=" enter email" style="background: transparent; border: 0; border-bottom: 1px solid  black; width: 350px;">

 <font color="red">  <b><span class="error_form" id="password_error_message"></span></b></font>
  <font color="#043e62"><font size="4"></font>  <input type="password"  id="form_password" data-ng-model="password" name="password" placeholder="enter password" style="background: transparent; border: 0; border-bottom: 1px solid  black; width: 350;">
  </center>                                                                                
 <input type="submit" class="ssignupbutton" id="reg" value=" signup" data-ng-click="signUp()"> 
 </form>
</pre>
</div>
</pre>
</div>
</div>
 <div class="col-sm-4"></div>  
 
 